<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout">
    </html>

<head th:include="layout :: head"></head>
<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">

    <table class="table">
        <thead>
            <th></th>
            <th></th>
            <th></th>
        </thead>

        <tbody>
            <tr>
                <td><a href="http://localhost:8080/clientes" class="btn btn-info">Clientes</a></td>
                <td><a href="http://localhost:8080/cidades" class="btn btn-dark">Cidades</a></td>
                <td><a href="http://localhost:8080/produtos" class="btn btn-success">Produtos</a></td>
            </tr>
        </tbody>
        
    </table>
    
</main>
<footer th:include="layout :: footer"></footer>
</body>
</html>